<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input id="title" type="text" class="form-control" name="title">
  </div>
  <div class="mb-3">
    <label for="post" class="form-label">Post</label>
    <textarea id="post" class="form-control" name="post" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Publish</button>
</form>
<%- include("partials/footer") -%>