<%- include("partials/header") -%>
<h1><%=post.title%></h1>
<p>
  <%=post.body %>
</p>
<p><a class="link" href="/"><i class="fas fa-chevron-left"></i> Back to homepage</a></p>

<%- include("partials/footer") -%>